/* width sets an element's width */
/* By default, it sets the width of the content area */
/* Reference (https://developer.mozilla.org/en-US/docs/Web/CSS/width) */

/* height sets an element's height */
/* By default, it sets the height of the content area */
/* Reference (https://developer.mozilla.org/en-US/docs/Web/CSS/height) */

h1 {
  border: 2px solid olivedrab;
  width: 500px;
  height: 60px;
}

#container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.box {
  border: 1px solid orange;
  height: 50%;
  width: 50%;
}
