/* The logical 'and' used for combining multiple media featuer into a single medial query, */
/* requiring each chained feature to return 'true' for the query to be 'true'. */

/* The logical 'not' returns 'true' if the query would otherwise return 'false' */

/* Reference (https://developer.mozilla.org/en-US/docs/Web/CSS/@media) */

h1 {
  font-size: 3rem;
}

body {
  background-color: red;
}

/* Change the backgound-color to lightcoral when the device's viewport WIDTH is */
/* less than 600px OR greater than 1500px; otherwise load background-color of red */
@media (max-width: 600px) or (min-width: 1500px) {
  body {
    background-color: lightcoral;
  }
}

/* Change the background-color to purple when the device's viewport WIDTH is */
/* NOT greater than 600px */
/* @media not (min-width: 600px) {
  body {
    background-color: purple;
  }
} */
