/* Setup the document */
body {
  font-family: "Poppins", sans-serif;
}

/* Setup the parent element that holds the <img> element */
.project {
  /* width: 600px; */
  position: relative;
}

/* Make <img> element as wide & tall as the parent element and covers the parent element */
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Setup the overlay text & transparency that is on top of the <img> element */
.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  /* Remove the element from the document flow */
  position: absolute;
  /* Position the element on the top-left of the parent element */
  top: 0;
  left: 0;
  /* Make the element as wide & tall as it's parent element */
  width: 100%;
  height: 100%;
  /* Enable Flexbox in the container */
  display: flex;
  /* Center the element's text in the middle horizontally & vertically */
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  /* Make the overlay disappear from the document */
  opacity: 0;
  /* Setup the transition to make the overlay appear/disappear smoother */
  transition: all 0.2s ease;
}

/* Make the overlay appear when hovered over */
.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

/* Setup the parent element as a Grid Container holding the elements where the images are stored */
.project-grid {
  display: grid;
  /* Test to check if Grid is working */
  grid-template-columns: 400px 400px 1fr;
}
