/* transition is a shorthand property that enables to define the transition between 2 states. */
/* States may be defined using pseudo classes or dynamically set using JavaScript */
/* Reference (https://developer.mozilla.org/en-US/docs/Web/CSS/transition) */

/* transition-delay specifies the duration to wait before starting a transition effect */
/* Reference (https://developer.mozilla.org/en-US/docs/Web/CSS/transition-delay) */

/* Syntax: */
/* transition: <property> <duration> <timing-function> <delay>; */

.btn {
  border: 2px solid black;
  color: orangered;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  /* Change background color w/in 2 seconds (no delay) and color w/in 1 second and 2 seconds delay */
  transition: background-color 2s ease-in, color 1s ease-out 2s;
}

.btn:hover {
  background-color: olive;
  color: magenta;
}
