body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

.info {
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.5px;
}

.info span {
  color: #E95400;
}

.headline {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 40px 0; /* 40px at top & bottom and 0px on the left & right*/
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400 ;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

