/* Common Flexbox Use Case: Centering Content */

body {
  /* Diable browser-default margins on all elements */
  margin: 0;
  /* Take up the entire viewport height */
  height: 100vh;
  /* Define a two-color linear gradient background */
  background: linear-gradient(cyan, purple);
  /* Enable Flexbox in the container (or the entire HTML document) */
  display: flex;
  /* Define the Main Axis and direction of Flex Items */
  flex-direction: row;
  /* Align Flex Item centered along the Main Axis */
  justify-content: center;
  /* Align Flex Item centered along the Cross Axis */
  align-items: center;
}

.circle {
  background-color: yellow;
  height: 200px;
  width: 200px;
  /* Make this Flex Item a Flex Container (or Flex sub-container) */
  display: flex;
  flex-direction: row;
  /* Center the Flex Item along the Main Axis and Cross Axis of the Flex sub-contaner */
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-radius: 50%;
}

.white {
  background-color: white;
  height: 100px;
  width: 100px;
  /* Make this Flex Item a Flex Container (or Flex sub-sub-container) */
  display: flex;
  flex-direction: row;
  /* Center the Flex Item along the Main Axis and Cross Axis of the Flex sub-sub-contaner */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
