body {
    font-family: 'Cormorant', serif;
}

.navbar {
    margin: 32px;
}

h1 {
    display: inline-block;      /* The inline-block respects horizontal & vertical margin & padding */
    font-weight: 300;
    margin: 0 32px 0 0;         /* Reset default values & put 32px to the right, to push the <nav> element */
}

.links {
    display: inline-block;
}

.links ul {
    padding: 0;                 /* Remove the default assigned padding value (left-padding) */
}

.links li {
    display: inline-block;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;              /* Assigns a 0px to margin top & bottom and 8px to margin left & right */
}

a.active {                      /* The styled link points to the currently loaded HTML document */
    border-bottom: 1px solid black;
}

img {
    width: 40%;
    height: 500px;
}